**/node_modules/
temp/
package-lock.json
config.env

find-nth-fibonacci-number/.git/
find-nth-fibonacci-number/e2e/
find-nth-fibonacci-number/node_modules/
find-nth-fibonacci-number/.browserslistrc
find-nth-fibonacci-number/.editorconfig
find-nth-fibonacci-number/karma.conf.js
find-nth-fibonacci-number/package-lock.json
find-nth-fibonacci-number/README.md
find-nth-fibonacci-number/tsconfig.app.json
find-nth-fibonacci-number/tsconfig.base.json
find-nth-fibonacci-number/tsconfig.json
find-nth-fibonacci-number/tsconfig.spec.json
find-nth-fibonacci-number/tslint.json
find-nth-fibonacci-number/src/environments/
find-nth-fibonacci-number/src/favicon.ico
find-nth-fibonacci-number/src/main.ts
find-nth-fibonacci-number/src/polyfills.ts
find-nth-fibonacci-number/src/styles.css
find-nth-fibonacci-number/src/test.ts
find-nth-fibonacci-number/src/assets/
find-nth-fibonacci-number/.gitignore